ENVIRONMENT=dev

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
SENDER_EMAIL=la_tua_email@gmail.com
SENDER_PASSWORD=la_tua_app_password
RECEIVER_EMAIL=la_tua_email@gmail.com

TURNSTILE_SITE_KEY=1x00000000000000000000AA
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA

CLOUDFLARE_WEB_ANALYTICS_TOKEN=

SECRET_KEY=inserisci_una_stringa_molto_lunga_e_casuale_qui
ADMIN_USERNAME=stefano
ADMIN_PASSWORD=la_tua_password_super_sicura
