{% extends "base.html" %}

{% block content %}
    <section id="error-404" class="page-section section-bg-default page-404">
        <div class="container container-narrow">

            <h1 class="reveal page-404-number">404</h1>

            <h2 class="reveal delay-1 page-404-title">{{ t['404']['title'] }}</h2>
            <p class="reveal delay-2 page-404-msg">
                {{ t['404']['message'] }}
            </p>

            <div class="reveal delay-3">
                <a href="/{{ lang }}/home" class="btn btn-primary btn-lg">
                    <i class="fas fa-home mr-10"></i> {{ t['404']['back-btn'] }}
                </a>
            </div>

        </div>
    </section>
{% endblock %}
