{% extends "base.html" %}

{% block content %}
    <section id="projects" class="page-section section-bg-default">
        <div class="container">
            <h2 class="reveal section-title">{{ t['projects']['title'] }}</h2>
            <div class="projects-container">

                <div class="project base-card reveal delay-1">
                    <img src="{{ url_for('static', path='/images/project-air_force_1943.webp') }}" alt="Air Force 1943" loading="lazy">
                    <div class="project-content">
                        <h3>{{ t['projects']['p1-title'] }}</h3>
                        <p>{{ t['projects']['p1-desc'] }}</p>
                        <a href="https://weatherlight.itch.io/airforce-1943" target="_blank">{{ t['projects']['p1-link'] }}</a>
                    </div>
                </div>

                <div class="project base-card reveal delay-2">
                    <img src="{{ url_for('static', path='/images/project-unitn-p2-configuration.webp') }}" alt="Unitn P2 Config" loading="lazy">
                    <div class="project-content">
                        <h3>{{ t['projects']['p2-title'] }}</h3>
                        <p>{{ t['projects']['p2-desc'] }}</p>
                        <a href="https://github.com/StefanoVidesott/unitn-p2-configuration" target="_blank">{{ t['projects']['p2-link'] }}</a>
                    </div>
                </div>

                <div class="project base-card reveal delay-3">
                    <img src="{{ url_for('static', path='/images/project-wannawork.webp') }}" alt="WannaWork" loading="lazy">
                    <div class="project-content">
                        <h3>{{ t['projects']['p3-title'] }}</h3>
                        <p>{{ t['projects']['p3-desc'] }}</p>
                        <a href="/{{ lang }}/project/wannawork">{{ t['projects']['p3-link'] }}</a>
                    </div>
                </div>
            </div>

            <div class="reveal delay-4 center-actions">
                <a href="/{{ lang }}/home" class="btn btn-primary">{{ t['general']['back-to-home'] }}</a>
            </div>
        </div>
    </section>
{% endblock %}
