{% extends "base.html" %}

{% block content %}
    <section id="projects" class="page-section section-bg-default">
        <div class="container">
            <h2 class="reveal section-title">{{ t['projects']['title'] }}</h2>
            <div class="projects-container">

                {% for project in projects %}
                    <div class="project base-card reveal delay-{{ loop.index }}">

                        <img src="{{ project.image_url }}" alt="{% if lang == 'it' %}{{ project.title_it }}{% else %}{{ project.title_en }}{% endif %}" loading="lazy">

                        <div class="project-content">
                            <h3>
                                {% if lang == 'it' %}
                                    {{ project.title_it }}
                                {% else %}
                                    {{ project.title_en }}
                                {% endif %}
                            </h3>

                            <p>
                                {% if lang == 'it' %}
                                    {{ project.description_it }}
                                {% else %}
                                    {{ project.description_en }}
                                {% endif %}
                            </p>

                            {% if project.slug == 'wannawork' %}
                                {% if lang == 'it' %}
                                    <a href="/{{ lang }}/project/{{ project.slug }}">{{ project.link_it }}</a>
                                {% else %}
                                    <a href="/{{ lang }}/project/{{ project.slug }}">{{ project.link_en }}</a>
                                {% endif %}
                            {% else %}
                                {% if lang == 'it' %}
                                    <a href="{{ project.url }}" target="_blank">{{ project.link_it }}</a>
                                {% else %}
                                    <a href="{{ project.url }}" target="_blank">{{ project.link_en }}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

            </div>

            <div class="reveal delay-4 center-actions">
                <a href="/{{ lang }}/home" class="btn btn-primary">{{ t['general']['back-to-home'] }}</a>
            </div>
        </div>
    </section>
{% endblock %}